@model SpadCompanyPanel.Infrastructure.Dtos.RealState.RealStateDetailDto
@using SpadCompanyPanel.Core.Utility;
@using SpadCompanyPanel.Core.Models;
@using SpadCompanyPanel.Web.ViewModels
@using SpadCompanyPanel.Web.Resources
@{
    ViewBag.Title = Resource.State;
    int lang = ViewBag.Language;
}


@section styles
{
    <link rel="stylesheet" href="/Content/Assets/css/carousel.css">
    @*<link rel='stylesheet' href='/Content/Assets/css/foundation.css'>*@
    <link rel='stylesheet' href='/Content/Assets/css/slick.css'>
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/Content/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>@Model.Title</h1>
        <ul class="page-breadcrumb">
            <li><a href="index.html">@Resource.Home</a></li>
            <li> @Model.Title</li>
        </ul>
    </div>
</section>
<!--End Page Title-->


<div class="sidebar-page-container pb-0">
    <div class="auto-container-custome" style="max-width: 100%">
        <div class="property-info-box">
            <div class="row" style="max-width: 100%">
                <div class="about-property col-lg-8 col-md-12 col-sm-12">
                    <h2>@Model.Title</h2>
                    <ul class="property-info clearfix">
                        <li><i class="fa fa-expand"></i> @Model.Area @Resource.Area</li>
                        <li><i class="fa fa-bed"></i> @Model.Bedroom @Resource.Bedroom</li>
                        <li><i class="fa fa-bath"></i> @Model.Bathroom @Resource.Bathroom</li>
                        <li><i class="fa fa-map-marker-alt"></i> @Model.Region @Resource.Region</li>
                    </ul>
                </div>
                <div class="price-column col-lg-4 col-md-12 col-sm-12">
                    <div class="price"> @Model.Price.ToString("##,###")@Model.PriceSymbol </div>
                    <div class="location"><i class="icon fa fa-map-marker-alt"></i> @Model.Address</div>
                </div>

                <div class="col-lg-6 order-style-2 des-part">
                    <div class="row clearfix">
                        <!--Content Side-->
                        <div class="content-side col-lg-12">
                            <div class="property-detail">
                                <h3>@Resource.Description</h3>
                                <p style="font: 'IRANSansWeb'!important, sans-serif !important; color: #333333 !important;">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-style-1 slider-part">
                    <div class="large-12 columns mb-5" dir="ltr">

                        <!-- MAIN SLIDES -->
                        <div class="slider">
                            @for (int i = 1; i <= Model.RealStateGalleriesList.Count; i++)
                            {
                                <div data-index="@i">
                                    <a href="/Files/RealStateImages/Gallery/@Model.RealStateGalleriesList[i-1].Image" class="lightbox-image link" data-fancybox="gallery">
                                        <img src="/Files/RealStateImages/Gallery/@Model.RealStateGalleriesList[i-1].Image" alt="One">
                                    </a>
                                </div>
                            }
                        </div>

                        <!-- THUMBNAILS -->
                        <div class="slider-nav-thumbnails">
                            @for (int i = 1; i <= Model.RealStateGalleriesList.Count; i++)
                            {
                                <div data-index="@i">
                                    <img src="/Files/RealStateImages/Gallery/@Model.RealStateGalleriesList[i-1].Image" slide="slide_@i">
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-style-3">
                    <div class="row clearfix">
                        <!--Content Side-->
                        <div class="content-side col-lg-12">
                            <div class="property-detail">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    @for (int i = 0; i < Model.PlanWithOptions.Count; i++)
                                    {
                                        <li class="nav-item">
                                            @if (lang == (int)Language.Farsi)
                                            {
                                                <a class="nav-link @(i==0? "active" : null)" id="plan-@i-tab" data-toggle="tab" href="#plan-@i"
                                                   role="tab" aria-controls="plan-@i" aria-selected="@(i==0? "true" : "false")">@Model.PlanWithOptions[i].Plan.Title</a>
                                            }
                                            else
                                            {
                                                <a class="nav-link @(i==0? "active" : null)" id="plan-@i-tab" data-toggle="tab" href="#plan-@i"
                                                   role="tab" aria-controls="plan-@i" aria-selected="@(i==0? "true" : "false")">@Model.PlanWithOptions[i].Plan.EnglishTitle</a>
                                            }
                                        </li>
                                    }
                                </ul>
                                <!--Tab1-->
                                <div class="tab-content" id="myTabContent">
                                    @for (int i = 0; i < Model.PlanWithOptions.Count; i++)
                                    {
                                        <div class="tab-pane fade show @(i==0? "active" : null)" id="plan-@i" role="tabpanel"
                                             aria-labelledby="plan-@i-tab" style="margin: 1rem">

                                            <ul class="nav nav-tabs" id="myTab@(i)" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab@(i)" data-toggle="tab" href="#home@(i)" role="tab" aria-controls="home" aria-selected="true">@Resource.Detail</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab@(i)" data-toggle="tab" href="#profile@(i)" role="tab" aria-controls="profile" aria-selected="false">@Resource.Option</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="contact-tab@(i)" data-toggle="tab" href="#contact@(i)" role="tab" aria-controls="contact" aria-selected="false">@Resource.Plan</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent@(i)">
                                                <div class="tab-pane fade show  active" id="home@(i)" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="content-side col-lg-12">
                                                        <div class="property-detail">
                                                            <h4 class="mt-4">@Resource.Detail</h4>
                                                            <div class="agent-detail pt-0">
                                                                @{ var Type = Model.PlanWithOptions[i].Plan.PlanType == 1 ? Resource.Sale : (Model.PlanWithOptions[i].Plan.PlanType == 2 ? Resource.PreSale : Resource.Rent);}
                                                                <table class="info-table">
                                                                    <tr>
                                                                        <td><strong>@Resource.Title:</strong> @Model.PlanWithOptions[i].Plan.Title</td>
                                                                        <td><strong>@Resource.MalikFor:</strong> @Type</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>@Resource.Bedroom:</strong>@Model.PlanWithOptions[i].Plan.Rooms</td>
                                                                        <td><strong>@Resource.Area:</strong>@Model.PlanWithOptions[i].Plan.Area </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>@Resource.Bathroom:</strong>@Model.PlanWithOptions[i].Plan.BathRooms</td>
                                                                        <td><strong>@Resource.Floor:</strong>@Model.PlanWithOptions[i].Plan.FloorNo</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>@Resource.Price:</strong>€ @Model.PlanWithOptions[i].Plan.Price.ToString("##,###")</td>
                                                                        <td>
                                                                            @if (Model.PlanWithOptions[i].Plan.RentPrice != null && Model.PlanWithOptions[i].Plan.RentPrice > 0)
                                                                            {
                                                                                <span><strong>@Resource.Rent:</strong>€ @Model.PlanWithOptions[i].Plan.RentPrice.Value.ToString("##,###")</span>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile@(i)" role="tabpanel" aria-labelledby="profile-tab">
                                                    <div class="content-side col-lg-12">
                                                        <div class="property-detail">


                                                            <h4 class="mt-5">@Resource.Option</h4>
                                                            <ul class="features-list clearfix">
                                                                @foreach (var item in Model.PlanWithOptions[i].Options)
                                                                {
                                                                    if (lang == (int)Language.Farsi)
                                                                    {
                                                                        <li>@item.Title</li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>@item.EnglishTitle</li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="contact@(i)" role="tabpanel" aria-labelledby="contact-tab">
                                                    <div class="content-side col-lg-12 mt-4">
                                                        <div class="property-detail">

                                                            <h4>@Resource.Plan</h4>
                                                            <div class="floor-plans">
                                                                <ul class="floor-info clearfix">
                                                                    <li class="title">@Resource.PlanSample</li>
                                                                    <li>@Model.PlanWithOptions[i].Plan.BathRooms @Resource.Bathroom</li>
                                                                    <li>@Model.PlanWithOptions[i].Plan.Rooms @Resource.Bedroom</li>
                                                                    <li>@Model.PlanWithOptions[i].Plan.Area @Resource.Area</li>
                                                                </ul>
                                                                <div class="floor-image">
                                                                    <figure class="image">
                                                                        <img src="/Files/PlanFiles/PlanImages/@Model.PlanWithOptions[i].Plan.Image"
                                                                             data-src="/Files/PlanFiles/PlanImages/@Model.PlanWithOptions[i].Plan.Image" alt="">
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-style-4">
                    <div class="content-side col-lg-12 mt-4">
                        <div class="property-detail">
                            <h4>@Resource.Vt</h4>
                            <video controls class="video-size">
                                <source src="/Files/RealStateImages/Videos/@Model.VideoStr" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-12">
                    <div class="property-detail">
                        <!-- Review Box -->
                        <div class="review-area">
                            @if (!string.IsNullOrEmpty(Model.Location))
                            {
                                <div class="content-side col-lg-12">
                                    <div class="property-detail">
                                        <h4>@Resource.Location</h4>
                                        <div class="map-outer">
                                            @Html.Raw(Model.Location)
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a href="payment.html" class="theme-btn btn-style-one w-100 text-white text-center"><span class="btn-title">هم اکنون خریداری کنید</span></a>
                                </div>
                            </div>

                            <!--Reviews Container-->
                            <div class="reviews-container">
                                <h3>@Resource.Comments</h3>
                                <!--Reviews-->
                                <article class="review-box">
                                    <div class="thumb-box">
                                        <figure class="thumb">
                                            <img src="/Files/UserAvatars/user-avatar.png"
                                                 data-src="/Files/UserAvatars/user-avatar.png"
                                                 alt="">
                                        </figure>
                                    </div>
                                    <div class="content-box">
                                        <div class="name">فلورا معصومی</div>
                                        <span class="date"><i class="fa fa-calendar-alt"></i> 5 شهریور, 1398</span>
                                        <div class="rating">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div>
                                        <div class="text">
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                            برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <!-- Review Comment Form -->
                        <div class="review-comment-form">
                            <h3>@Resource.SendMessage</h3>
                            @*<form method="post" action="contact.html">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <input type="text" name="username" placeholder="@Resource.FullName"
                                               required>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <input type="text" name="number" placeholder="@Resource.Email" required>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <textarea name="message" placeholder="@Resource.Message"></textarea>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                        
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 text-right">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                            <span class="btn-title">@Resource.Subject</span>
                                        </button>
                                    </div>
                                </div>
                            </form>*@
                            @Html.Action("Create", "RealStateComments")
                        </div>
                    </div>
                </div>
              
                <!--Sidebar Side-->

            </div>

        </div>
    </div>
    <!-- End Sidebar Container -->
</div>


<!-- End Page Wrapper -->
@section scripts{
    <script src='/Content/Assets/js/foundation.js'></script>
    <script src='/Content/Assets/js/slick.js'></script>
    <script src="/Content/Assets/js/carousel.js"></script>
}