@model SpadCompanyPanel.Infrastructure.Dtos.StaticContent.AboutUsDto
@using SpadCompanyPanel.Web.Resources;

@{
    ViewBag.Title = "درباره ما";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(Content/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>@Resource.AboutUs</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">@Resource.Home</a></li>
            <li>@Resource.AboutUs</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="row">
            <!-- Info Column -->
            <div class="info-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="devider"><span></span></div>
                        <h2>@Model.Title</h2>
                        <div class="text">@Model.ShortDescription</div>
                    </div>
                    <div class="text-box">
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>

                    <div class="row features">
                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-rent-1"></span>
                                <h4><a href="##">@Model.Item1.Title</a></h4>
                                <div class="text">@Model.Item1.ShortDescription</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-analytics"></span>
                                <h4><a href="##">@Model.Item2.Title</a></h4>
                                <div class="text">@Model.Item2.ShortDescription</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-home-2"></span>
                                <h4><a href="##">@Model.Item3.Title</a></h4>
                                <div class="text">@Model.Item3.ShortDescription</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-protect"></span>
                                <h4><a href="##">@Model.Item4.Title</a></h4>
                                <div class="text">@Model.Item4.ShortDescription</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image Column -->
            <div class="image-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="image-box wow fadeInRight">
                    <figure class="image">
                        <img src="/Files/StaticContentImages/Image/@Model.Image" data-src="/Files/StaticContentImages/Image/@Model.Image"
                             alt="">
                    </figure>
                    <div class="contact-info">
                        <span class="icon fa fa-phone-volume"></span>
                        <a href="tel:@Model.Phone" class="number">@Model.Phone</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us -->
<!--Clients Section-->
@Html.Action("PartnersSection", "Home")
<!--End Clients Section-->