@model SpadCompanyPanel.Web.ViewModels.ContactUsViewModel
@using SpadCompanyPanel.Web.Resources
@{
    ViewBag.Title = "ارتباط با ما";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/Content/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>@Resource.ContactUs</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">@Resource.Home</a></li>
            <li>@Resource.ContactUs</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="auto-container">
        <div class="outer-box">
            <div class="row clearfix">
                <div class="contact-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                        <h2>@Resource.ContactUs</h2>
                        <ul class="contact-info">
                            <li>
                                <span class="icon fa fa-map-marker-alt"></span>
                                <p>@Model.Address.ShortDescription </p>
                            </li>

                            <li>
                                <span class="icon fa fa-phone-volume"></span>
                                <p><a href="tel:@Model.Phone.ShortDescription">@Model.Phone.ShortDescription</a></p>
                            </li>

                            <li>
                                <span class="icon fa fa-envelope"></span>
                                <p><a href="#">@Model.Email.ShortDescription</a></p>
                            </li>
                        </ul>
                        <ul class="social-icon-four">
                            <li class="title">@Resource.FollowUs</li>
                            <li><a href="http://@Model.Facebook.Link"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="http://@Model.Instagram.Link"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="contact-form">
                            <div class="title">
                                <h2>@Resource.SendMessage</h2>
                                <div class="text">@Resource.ContactUsAbout</div>
                            </div>
                            @Html.Action("ContactUsForm", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Contact Page Section -->
<!--Clients Section-->
@Html.Action("PartnersSection", "Home")
<!--End Clients Section-->
