@model SpadCompanyPanel.Web.ViewModels.HomeIndexViewModel
    @using SpadCompanyPanel.Web.Resources

@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Property Search Section Two -->
@Html.Action("RealStateGuideFilter", "Home")
<!--End Property Search Section Two -->
<!-- What We Do -->
<section class="what-we-do">
    <div class="auto-container">
        <div class="sec-title">
            <div class="devider"><span></span></div>
            <h2>@Resource.WhatDoYouWant</h2>
            <div class="text">@Resource.WeGiveYouTheBest</div>
        </div>

        <div class="row">
            <!-- Feature Column -->
            <div class="features-column col-lg-8 col-md-12 col-sm-12">
                <div class="row">
                    <!-- Feature BLock Three -->
                    <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-house"></span>
                            <h3>@Resource.SpecialInvestmentProperty</h3>
                        </div>
                    </div>

                    <!-- Feature BLock Three -->
                    <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-money-bag"></span>
                            <h3>@Resource.OccasionalRealEstateAtaReasonablePrice</h3>
                        </div>
                    </div>

                    <!-- Feature BLock Three -->
                    <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <span class="icon flaticon-money-bag"></span>
                            <h3>@Resource.Turkishcitizenshipandpassports</h3>
                        </div>
                    </div>

                    <!-- Feature BLock Three -->
                    <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                         data-wow-delay="400ms">
                        <div class="inner-box">
                            <span class="icon flaticon-money-bag"></span>
                            <h3>@Resource.Introducingwiththecurrencycode</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-4 col-md-12 coll-sm-12">
                <div class="image-box">
                    <figure class="image image-1 wow zoomIn">
                        <img src="Content/Assets/images/icons/empty.png"
                             data-src="Content/Assets/images/resource/what-we-do-1.jpg"
                             alt="">
                    </figure>
                    <figure class="image image-2 wow zoomIn" data-wow-delay="400ms">
                        <img src="Content/Assets/images/icons/empty.png" data-src="Content/Assets/images/resource/what-we-do-2.jpg" alt="">
                    </figure>
                    <figure class="image image-3 wow zoomIn" data-wow-delay="800ms">
                        <img src="Content/Assets/images/icons/empty.png" data-src="Content/Assets/images/resource/what-we-do-3.jpg" alt="">
                        <figcaption>
                            <span class="icon far fa-lightbulb"></span> <h4>@Resource.ExpertsSuggestion</h4>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End What We Do -->
<!-- Modern Properties -->
@Html.Action("LuxurtVillasSection", "Home")
<!-- End Modern Properties -->
<!-- Property Section Three  -->
@Html.Action("RecentRealStates","Home")
<!-- End Property Section Three -->
<!-- Agents Section Two -->
<section class="agents-section-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="devider"><span></span></div>
            <h2>@Resource.ourcolleagues</h2>
            <div class="text">@Resource.Ourcolleaguesareavailable24hoursaday</div>
        </div>
    </div>
</section>
<!--End Agents Section Two -->
<!-- News Section -->
@Html.Action("LatestArticles","Home")
<!--End News Section -->
<!--Clients Section-->
@Html.Action("PartnersSection", "Home")
<!--End Clients Section-->
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        function GetStates() {
            $("#loading").show();
            var geoDivisionId = $("#countryId").find(":selected").val();
            $("#stateId").html('<option value="0">استان</option>');
            $.ajax({
                type: 'GET',
                url: '/RealState/GetGeoDivisionChildren?geoDivisionId=' + geoDivisionId,
                success: function (response) {
                    var html = '<option value="0">استان</option>';
                    try {
                        var data = JSON.parse(response);
                        if (data != null && data.length > 0) {
                            data.map(function (item) {
                                html += '<option value="' + item.id + '">' + item.title + '</option>';
                            });
                        }
                    } catch (e) {
                    }
                    $("#loading").hide();
                    $("#stateId").html(html);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                comcurrentUnitlete: function () {
                }
            });
        }

        function GetCities() {
            $("#loading").show();
            var geoDivisionId = $("#stateId").find(":selected").val();
            $("#cityId").html('<option value="0">شهر</option>');
            $.ajax({
                type: 'GET',
                url: '/RealState/GetGeoDivisionChildren?geoDivisionId=' + geoDivisionId,
                success: function (response) {
                    var html = '<option value="0">شهر</option>';
                    try {
                        var data = JSON.parse(response);
                        data.map(function (item) {
                            html += '<option value="' + item.id + '">' + item.title + '</option>';
                        });
                    } catch (e) {
                    }
                    $("#loading").hide();
                    $("#cityId").html(html);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function () {
                }
            });
        }
    </script>
    <script>
        function searchForRealState() {
            var countryId = $("#countryId").val();
            var stateId = $("#stateId").val();
            var cityId = $("#cityId").val();
            var planType = $("#planType").val();
            var realStateType = $("#realStateType").val();
            location.href = `/RealState?countryId=${countryId}&stateId=${stateId}&cityId=${cityId}&planType=${planType}&realStateType=${realStateType}`
        }
    </script>
}
