@model SpadCompanyPanel.Infrastructure.Dtos.Blog.BlogDetailDto
@using SpadCompanyPanel.Web.Resources

@{
    //ViewBag.Title = Model.Title;
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>@Model.Title</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">@Resource.Home</a></li>
            <li>@Model.Title</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h2>@Resource.Category</h2></div>
                        <ul class="category-list">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="/blog/@item.Id">@item.Title</a></li>
                            }
                        </ul>
                    </div>

                    <!-- Latest News -->
                    <div class="sidebar-widget latest-news">
                        <div class="sidebar-title"><h2>@Resource.RecentArticles</h2></div>
                        <div class="widget-content">
                            @foreach (var item in Model.RecentBlogs.Take(3))
                            {
                                <article class="post">
                                    <div class="post-thumb">
                                        <a href="/Blog/Post/@item.Id">
                                            <img src="/Files/ArticleImages/Thumb/@item.Image"
                                                 data-src="/Files/ArticleImages/Thumb/@item.Image" alt="" width="100" height="100">
                                        </a>
                                    </div>
                                    <h3><a href="/Blog/Post/@item.Id">@item.Title</a></h3>
                                    <div class="post-info">@item.PersianDate</div>
                                </article>
                            }
                        </div>
                    </div>

                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <!-- News BLock Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image wow fadeIn"><img src="/Files/ArticleImages/Image/@Model.Image" data-src="/Files/ArticleImages/Image/@Model.Image" alt=""></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>@Model.PersianDate</li>
                                </ul>
                                <h3>@Model.ShortDescription</h3>
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>

                    <!--Comments Area-->
                    <div class="comments-area">

                        <div class="group-title">
                            <h3>نظرات اخیر: 03</h3>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="/Assets/images/icons/empty.png" data-src="/Assets/images/resource/thumb-1.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">مهدی محمدی<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ، برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ، برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،</div>
                                </div>
                            </div>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box reply-comment">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="/Assets/images/icons/empty.png" data-src="/Assets/images/resource/thumb-2.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">سارا فتحی<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت .</div>
                                </div>
                            </div>
                        </div>

                        <!--Comment Box-->
                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb">
                                    <img src="/Assets/images/icons/empty.png" data-src="/Assets/images/resource/thumb-3.jpg" alt="">
                                    <a class="comment-reply" href="#">پاسخ</a>
                                </div>
                                <div class="comment-inner">
                                    <div class="comment-info clearfix">رضا جعفری<div class="comment-time">اسفند 7 , 1398 ساعت 12:21 صبح</div></div>
                                    <div class="text">برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ، برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ، برایت هوس یکی از بهترین راهنمایان و فروشندگان خانه است ،</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Comments Area-->
                    <!-- Comment Form -->
                    <div class="comment-form">
                        <div class="group-title">
                            <h3>پیام بگذارید</h3>
                        </div>
                        <!--Comment Form-->
                        <form method="post" action="/ContactUs">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="username" placeholder="نام و نام خانوادگی" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="email" name="email" placeholder="آدرس ایمیل" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="subject" placeholder="موضوع" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="number" placeholder="شماره تلفن" required>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="message" placeholder="پیام"></textarea>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">ارسال نظر</span></button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--End Comment Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Assets/images/icons/empty.png" data-src="/Assets/images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->

<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    <script>
        function AnswerComment(parentId, parentName) {
            $('#answerPerson').html("پاسخ دادن به   " + parentName + "<a class='btn btn-submit text-white' style='margin-right:10px;cursor:pointer' onclick='removePerson()'>حذف</a>");
            $('#ParentId').val(parentId);
        }
        function removePerson() {
            $('#answerPerson').html("نظر بدهید");
            $('#ParentId').val("");
        }
    </script>
}