@model SpadCompanyPanel.Infrastructure.Dtos.Blog.BlogDto
@using SpadCompanyPanel.Web.Resources
@{
    ViewBag.Title = "بلاگ";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/Content/Assets/images/background/4.jpg)">
    <div class="auto-container">
        <h1>@Resource.Articles</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">@Resource.Home</a></li>
            <li>@Resource.Articles</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h2>@Resource.Category</h2></div>
                        <ul class="category-list">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="/blog/@item.Id">@item.Title</a></li>
                            }
                        </ul>
                    </div>

                    <!-- Latest News -->
                    <div class="sidebar-widget latest-news">
                        <div class="sidebar-title"><h2>@Resource.RecentArticles</h2></div>
                        <div class="widget-content">
                            @foreach (var item in Model.RecentBlogs.Take(3))
                            {
                                <article class="post">
                                    <div class="post-thumb"><a href="/Blog/Post/@item.Id"><img src="/Files/ArticleImages/Image/@item.Image" 
                                                                                               data-src="/Files/ArticleImages/Image/@item.Image" alt="" width="100" height="100" ></a></div>
                                    <h3><a href="/Blog/Post/@item.Id">@item.Title</a></h3>
                                    <div class="post-info">@item.PersianDate</div>
                                </article>
                            }
                        </div>
                    </div>

                    <!-- Tags -->
                    @*<div class="sidebar-widget tags">
                        <div class="sidebar-title"><h2>@Resource.Tags</h2></div>
                        <ul class="tag-list clearfix">
                            <li><a href="#">اپارتمان</a></li>
                            <li><a href="#">مسکن</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">مجرد</a></li>
                            <li><a href="#">بازار</a></li>
                            <li><a href="#">خانه</a></li>
                            <li><a href="#">ویلاها</a></li>
                            <li><a href="#">بازار</a></li>
                        </ul>
                    </div>*@
                </aside>
            </div>
            <!--Content Side-->
            <div class="/Content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-sidebar">
                    @foreach (var item in Model.Blogs)
                    {
                        <!-- News BLock Two -->
                        <div class="news-block-two wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/Blog/Post/@item.Id">
                                        <img src="/Files/ArticleImages/Image/@item.Image" data-src="/Files/ArticleImages/Image/@item.Image" alt="" style="background-size:cover; background-position:center"></a></figure>
                                    <div class="overlay-box"><a href="/Blog/Post/@item.Id"><span class="fa fa-plus"></span></a></div>
                                </div>
                                <div class="lower-content">
                                    <ul class="post-info clearfix">
                                        <li>@item.PersianDate</li>
                                        <li>@Resource.Comments @item.CommentsCount</li>
                                        <li>@item.Author</li>
                                    </ul>
                                    <h3><a href="/Blog/Post/@item.Id">@item.Title</a></h3>
                                    <div class="text">@Html.Raw(item.ShortDescription)</div>
                                </div>
                            </div>
                        </div>
                    }

                    <!--Post Share Options-->
                    @*<div class="styled-pagination text-center">
                            <ul class="clearfix">
                                <li class="prev-post"><a href="#"><span class="fa fa-angle-right"></span> قبلی</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next-post"><a href="#"> بعد <span class="fa fa-angle-left"></span> </a></li>
                            </ul>
                        </div>*@
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Sidebar Container -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/Content/Assets/images/icons/empty.png" data-src="/Content/Assets/images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->
