@using SpadCompanyPanel.Infrastructure.Helpers;
@using SpadCompanyPanel.Web.Resources;
@{
    var currentLang = LanguageHelper.GetCulture();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>bright house</title>
    <!-- Stylesheets -->
    <link href="Content/Assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Assets/css/style@(currentLang != 1?"-ltr":null).css" rel="stylesheet">
    <link href="~/Content/Assets/css/responsive@(currentLang != 1?"-ltr":null).css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="Content/Assets/css/color-switcher-design.css" rel="stylesheet">
    <link href="Content/Assets/css/popup.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="Content/Assets/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="/Content/logo.png" type="image/x-icon">
    <link rel="icon" href="/Content/logo.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="Content/Assets/css/font-awesome.css">
    <!--[if lt IE 9]>
    <script src="Content/Assets/js/respond.js"></script><![endif]-->

    @RenderSection("styles", required: false)
</head>

<body>
    <input type="hidden" id="NewsLetterError1" value="@Resource.EnterEmailError" />
    <input type="hidden" id="NewsLetterError2" value="@Resource.EmailNotValidError" />

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!--popup-->
        <div class='popup-onload'>
            <div class='cnt223'>
                <!--<div class="container-fluid">-->
                <div class="row ltr-row">
                    <div class="col-6">
                        <div class="back-img">
                        </div>
                    </div>
                    <div class="col-6 align-self-center text-center pr-0">
                        <p class="cntTitle">@Resource.Weareavailable24hoursaday</p>
                        <p class="cntDes">@Resource.LetUsCallYou</p>
                        <form method="post" id="newsLetterForm" action="/Home/SubmitNewsLetterEmail" class="row">
                            <div class="col-md-12">
                                <input type="text" class="popup-email-inpt" id="newsLetterEmail" name="newsLetterEmail" placeholder="@Resource.Enteryouremail">
                            </div>
                            <div class="col-md-12" id="newsLetterEmailValidation" style="color:red;display:none"></div>
                            <div class="col-md-12">
                                <button type="submit" class="theme-btn btn-style-one w-100" style="width: 80% !important; margin-top: 1rem;">
                                    <span class="btn-title">@Resource.Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--</div>-->
                </div>
                <p>
                    <a href='' class='close'>
                        <i class="flaticon-close close-icon"></i>
                    </a>
                </p>
            </div>
        </div>
        <!--end popup-->
        @Html.Action("Navbar", "Home");
        @RenderBody()
        @Html.Action("Footer", "Home");

    </div>
    <div id="loading" class="loading" style="display:none"></div>
    <style>
        .loading {
            position: fixed;
            z-index: 999999999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

            /* Transparent Overlay */
            .loading:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.3);
            }

            /* :not(:required) hides these rules from IE9 and below */
            .loading:not(:required) {
                /* hide "loading..." text */
                font: 0/0 a;
                color: transparent;
                text-shadow: none;
                background-color: transparent;
                border: 0;
            }

                .loading:not(:required):after {
                    content: '';
                    display: block;
                    font-size: 10px;
                    width: 1em;
                    height: 1em;
                    margin-top: -0.5em;
                    -webkit-animation: spinner 1500ms infinite linear;
                    -moz-animation: spinner 1500ms infinite linear;
                    -ms-animation: spinner 1500ms infinite linear;
                    -o-animation: spinner 1500ms infinite linear;
                    animation: spinner 1500ms infinite linear;
                    border-radius: 0.5em;
                    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
                    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
                }

        /* Animation */

        @@-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-moz-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-o-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- End Page Wrapper -->
    <!-- Color Palate / Color Switcher -->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
    <script src="Content/Assets/js/jquery.js"></script>
    <script src="Content/Assets/js/popper.min.js"></script>
    <script src="Content/Assets/js/bootstrap.min.js"></script>
    <script src="Content/Assets/js/jquery-ui.js"></script>
    <script src="Content/Assets/js/jquery.fancybox.js"></script>
    <script src="Content/Assets/js/owl.js"></script>
    <script src="Content/Assets/js/wow.js"></script>
    <script src="Content/Assets/js/jquery.stellar.min.js"></script>
    <script src="Content/Assets/js/mixitup.js"></script>
    <script src="Content/Assets/js/appear.js"></script>
    <script src="Content/Assets/js/tims.js"></script>
    <script src="Content/Assets/js/script.js"></script>
    <script src="Content/Assets/js/popup.js"></script>
    <!-- Color Setting -->
    <script src="Content/Assets/js/color-settings.js"></script>
    <script>
        function changeLanguage(lang) {
            $("#loading").show();
            var Language = lang;
            $.ajax({
                url: "/Language/ChangeLanguage",
                type: "GET",
                data: { Language },
                success: function () {
                    $("#loading").hide();
                    location.reload()
                }
            });
        }
        function changeCurrency() {
            $("#loading").show();
            var currency = $('#currency').val();
            $.ajax({
                url: "/Currencies/ChangeCurrency",
                type: "GET",
                data: { currency },
                success: function () {
                    $("#loading").hide();
                    location.reload();
                }
            });
        }
        $("#newsLetterFormFooter").submit(function (event) {
            var emailerror1 = document.getElementById('NewsLetterError1').value;
            var emailerror2 = document.getElementById('NewsLetterError2').value;

            var newsLetterCookie = getCookie("newLetterCookie");
            var overlay = $('<div id="overlay"></div>');
            var emailInput = $("#newsLetterEmailFooter").val();
            if (emailInput == null || emailInput == "") {
                event.preventDefault();
                $("#newsLetterEmailValidationFooter").show();
                $("#newsLetterEmailValidationFooter").text(emailerror1);
                console.log(emailerror1);
            } else if (isEmail(emailInput) == false) {
                event.preventDefault();
                $("#newsLetterEmailValidationFooter").show();
                $("#newsLetterEmailValidationFooter").text(emailerror2);
                console.log(emailerror2);
            } else {
                $("#newsLetterEmailValidationFooter").hide();
                if (newsLetterCookie === null || newsLetterCookie === "") {
                    setCookie("newLetterCookie", "true")
                }
                $('.popup').hide();
                overlay.appendTo(document.body).remove();
            }
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>